body {
    font-family: sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.annotation {
    font-size: 2em;
    text-align: center;
}

.main-display {
    font-size: 6em;
    text-align: center;
    vertical-align: bottom;
    letter-spacing: -0.2em;
    margin-left: -0.2em;
}
